.not-found
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1245px
  &__info
    max-width: 488px
  &__title
    font-weight: 800
    font-size: 210px
    line-height: 256px
    padding-bottom: 31px
    color: #2F3A41
  &__text
    font: normal normal normal 16px/28px Inter
    color: #414141
    padding-bottom: 54px