<section class="block quality">
  <div class="container-outer">
    <div class="container">
      <div class="quality__wrap">
        <img src="{{ asset('build/quantity-img.png') }}" alt="quantity-img" class="quality__img">
        <div class="quality__info">
          <div class="quality__title title">Высокое качество покраски</div>
          <div class="quality__text">
            <p>Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным вниманием и
              ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем порошковую
              краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма цветов и
              текстур, позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени, планируем
              красить жидкими красками в т.ч. под золото, латунь, медь.</p>
            <p>Металлический блеск — это первое что приходит на ум когда мы говорим о металле. На наших
              производственных площадях мы можем отполировать любую металлическую поверхность до зеркального блеска
              так , что вы сможете увидеть своё отражение.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>