{% extends 'layout.html.twig' %}
{% block content %}
    <section class="catalog subcatalog-page">
        <div class="container">
            <div class="row">
                {% for item in page.getChildren([serviceItemClass]) %}
                    {% include 'catalog/article-box.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
