<div class="breadcrumbs">
    {%  for item in breadcrumbs %}
    {% if not loop.last %}
        <a class="breadcrumbs__link" href="{{ sitePath(item.route) }}">{{ item.title }}</a>
    {% else %}
        <a class="breadcrumbs__link">{{ item.title }}</a>
    {% endif %}
    {% endfor %}
</div>
