<div class="form popup-form" id="city">
    <h3>{{ 'Выбор города' | getString('Города') }}</h3>
    <div class="city-list">
        <ul>
            {% for item in cities %}
            <li><a href="//{{ item.domain ~ uri }}?selected_city=1">{{item.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>