<div class="overlay overlay_header js-popup-message-success active">
    <div class="modal__close js-modal__close"></div>
    <div class="modal modal-header active">
        <div class="modal-callback__title">{{ 'popup_message_succes_title' | getString('Успешная отправка формы') | raw }}</div>
        <div class="modal-callback__desc"><p>{{ 'popup_message_succes_text' | getText('Успешная отправка формы') | raw }}</p></div>
    </div>
</div>
