<div class="hidden">
    <div class="form popup-form js-popup-message-success" id="success">
        <h3>{{ 'popup_message_succes_title' | getString('Успешная отправка формы') | raw }}</h3>
        <div class="wrapper">
            <p>{{ 'popup_message_succes_text' | getText('Успешная отправка формы') | raw }}</p>
        </div>
    </div>
</div>
