{% if page.text or page.seotitle %}
<section class="block quality">
  <div class="container-outer">
    <div class="container">
      <div class="quality__wrap">
        <div class="quality__img img">
          <img src="{{ asset('build/quantity-img.png') }}" alt="quantity-img">
        </div>
        <div class="quality__info">
          <div class="quality__title title">{{ page.seotitle }}</div>
          <div class="quality__text">
            {{ page.text | raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
