{% extends 'base.html.twig' %}
{% block content %}
  <div class="about block">
    <div class="container-outer">
      <div class="container">
        <div class="breadcrumbs">
          <a href="/" class="breadcrumbs__link">Главная</a>
          <a href="/about" class="breadcrumbs__link">О нас</a>
        </div>
        <h1 class="page-title page-title_short">О нас</h1>
        <div class="about__wrap">
          <div class="about__block">
            Технология шлифовки дает возможность получить сатинированную поверхность (направленная шлифовка). Технология
            такой обработки подразумевает использование специальных шлифовальных материалов, которыми обрабатывают
            поверхность металла, из-за чего он обретает штриховой узор – риску. Внешний вид такой поверхности будет
            зависеть от зернистости инструментов – чем она больше, тем мельче риска и наоборот. Металлический блеск —
            это первое что приходит на ум когда мы говорим о металле. На наших производственных площадях мы можем
            отполировать любую металлическую поверхность до зеркального блеска так , что вы сможете увидеть своё
            отражение. Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным вниманием и
            ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем порошковую краску, по
            нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма цветов и текстур,
            позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени, планируем красить
            жидкими красками в т.ч. под золото, латунь, медь.
          </div>
          <div class="about__aside">Подпись или сноска, может использоваться в качестве поясняющей информации, может
            <a href="#" class="green">содержать ссылки</a>
          </div>
        </div>
        <h2 class="about__subtitle">Высокое качество покраски</h2>
        <div class="about__wrap">
          <p>Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным вниманием и
            ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем порошковую краску, по
            нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма цветов и текстур,
            позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени, планируем красить
            жидкими красками в т.ч. под золото, латунь, медь.</p>
          <p>Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным вниманием и
            ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем порошковую краску, по
            нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма цветов и текстур,
            позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени, планируем красить
            жидкими красками в т.ч. под золото, латунь, медь.</p>
        </div>
        <div class="about__wrap">
          <div class="about__img img about__img_big about__float"><img src="{{ asset('build/about.png') }}" alt=""></div>
          <div class="about__aside">Вариант размещения одного изображения</div>
        </div>
        <div class="about__wrap">
          <div class="about__block">
            <h3 class="about__blocktitle">Высокое качество покраски</h3>
            <p>Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным вниманием и
              ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем порошковую краску,
              по нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма цветов и текстур,
              позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени, планируем красить
              жидкими красками в т.ч. под золото, латунь, медь.</p>
          </div>
        </div>
        <div class="about__wrap">
          <div class="about__img-wrap">
            <div class="about__img img about__float"><img src="{{ asset('build/output-4.png') }}" alt=""></div>
            <div class="about__img img about__float"><img src="{{ asset('build/output-2.png') }}" alt=""></div>
          </div>
          <div class="about__aside">Вариант размещения двух изображений</div>
        </div>
        <div class="about__wrap">
          <div class="about__block"><p>Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с
              должным вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
              порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма
              цветов и текстур, позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени,
              планируем красить жидкими красками в т.ч. под золото, латунь, медь.</p></div>
        </div>
        <div class="about__wrap">
          <table class="about__table">
            <tr>
              <th align="left">Параметр</th>
              <th align="left">Параметр</th>
              <th align="left">Параметр</th>
              <th align="left">Параметр</th>
            </tr>
            <tr>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
            </tr>
            <tr>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
            </tr>
            <tr>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
            </tr>
            <tr>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
            </tr>
            <tr>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
              <td>Параметр</td>
            </tr>
          </table>
        </div>
        <div class="about__list-title">Высокое качество покраски</div>
        <div class="about__wrap">
          <div class="about__block about__longtext">
            <p>Технология шлифовки дает возможность получить сатинированную поверхность (направленная шлифовка).
              Технология такой обработки подразумевает использование специальных шлифовальных материалов, которыми
              обрабатывают поверхность металла, из-за чего он обретает штриховой узор – риску. Внешний вид такой
              поверхности будет зависеть от зернистости инструментов – чем она больше, тем мельче риска и наоборот.
            </p>
            <p>Металлический блеск — это первое что приходит на ум когда мы говорим о металле. На наших производственных
              площадях мы можем отполировать любую металлическую поверхность до зеркального блеска так , что вы сможете
              увидеть своё отражение.</p>
            <p>Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным
              вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
              порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма
              цветов и текстур, позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени,
              планируем красить жидкими красками в т.ч. под золото, латунь, медь.</p>
            <ul class="about__ul about__ul_number">
              <li>Сплав железа с различным количество углерода.</li>
              <li>Прекрасно подходит для оформления элементов интерьера в
                стили лофт и авторских каминов из металла.
              </li>
              <li> Легированная сталь, устойчивая к коррозии.</li>
            </ul>
            <ul class="about__ul about__ul_dot">
              <li>Цвет и фактура зависят от марки и способа обработки стали.</li>
              <li>Идеально подходит для изготовления каркаса мебели и элементов
                декора.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}