{% extends 'layout.html.twig' %}
{% block content %}
    <section class="category-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row js-load-container">
                        {% for key, item in page.getChildren([catalogItemClass]) %}
                            {% include 'catalog/product-box.html.twig' %}
                        {% endfor %}
                        {% if page.getChildren([catalogItemClass]) | length > 8 %}
                            <div class="col-lg-12 text-center">
                                <button class="btn btn-red btn-all js-show-more">Показать еще</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
